<!DOCTYPE html>
<html ng-app="map_widget">
<head>
  <title>ImpacMaps</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,panoramio"></script>


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="/locations.html">
    <div>
      <map center="37.7527994, -122.4229019" zoom="2">
      </map>
    </div>
  </script>
</body>
</html>
